
.header{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: grid;
    grid-template-columns: 40% 40% 20%;
}
.products{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto ;
    gap:50px;
}
#gobtn:active{
    animation-name: sidego;
    animation-duration: 2s;
    animation-iteration-count: 1;

}

@keyframes sidego {
    from {transform:translateX(0px);opacity: 1;
        border-radius: 15px 20px 20px 15px}
    50%  {transform: translateX(50px);opacity: 0;
        border-radius: 20px 20px 20px 20px}               
}

.items{
    border: 2px solid black;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 50px;
    margin-right: 50px;
}
.content{
    display: grid;
    grid-template-rows: auto auto auto auto auto ;
}
.productName{
    height: 50px;
    font-family: cursive;

}
.productpieces{
    height: 20px;
    margin-left: 5px;
    color: rgb(107, 107, 107);
    padding-bottom: 30px;
    padding-top: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pricebtn{
    margin-left: 230px;
}
.pricebtn > button{
    height: 40px;
    width:250px;
    background-color: tomato;
    color: white;
    font: 400;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: none;
    cursor: pointer;
}
.pricebtn > button:hover{
    background-color: greenyellow;
    color: black;
    animation-name:movementinfo;
    animation-duration: 3s;
}
.pricebtn > button:active{
    opacity: .6;
    cursor: progress;
}
@keyframes movementinfo {
    from {transform:translateX(0px);color:white}
    50%{transform:translateX(100px);background-color: rgba(0, 0, 255, 0.438);color: black;}
    to {transform: translateX();background-color: greenyellow;color:white}               
}
.productDescription{
    font-family: sans-serif;
    padding: 10px 0px;
}
.price{
    margin-top: 20px;
    font-size: xx-large;
    padding: 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pageshift{
    display: grid;
    grid-template-columns: 32% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 24%;
    justify-content: center;
    gap: 20px;
    width: 1256px;
    
}
.input1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: skyblue;
}

.input2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: skyblue;
}
.input3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: skyblue;
}
.input4{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: skyblue;
}
.input5{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: skyblue;
}
.input6{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: skyblue;
}
.input7{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: skyblue;
}
.input8{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: skyblue;
}
.input9{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: skyblue;
}
.input10{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: skyblue;
}

.img{
    margin-top: 20px;
}

.ikons{
    display: grid;
    grid-template-columns: 10% auto auto auto auto auto auto 10% ;
    gap: 25px;
    text-align: center;
}
.para{
    font-size: small;
    font-style: oblique;
    font-weight: 400;
    letter-spacing: 2px;
}
/* background: linear-gradient(45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d); */